In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'a': [1,2,3,4,5], 'b': [np.nan]*5})
df.head()

   a   b
0  1 NaN
1  2 NaN
2  3 NaN
3  4 NaN
4  5 NaN

In [6]:
m = df.mean()

In [7]:
type(m)

pandas.core.series.Series

In [8]:
m.fillna(-1)

a    3.0
b   -1.0
dtype: float64