In [48]:
from __future__ import division
import pandas as pd

In [49]:
pd.DataFrame({'id': [1,2,3,4,5,6],
              'pred': [0.8, 0.2, 0.4, 0.7, 0.8, 0.1],
              'classif': [1,0,0,1,1,0],
              'bin': [1,1,0,1,0,1]})

   bin  classif  id  pred
0    1        1   1   0.8
1    1        0   2   0.2
2    0        0   3   0.4
3    1        1   4   0.7
4    0        1   5   0.8
5    1        0   6   0.1

In [50]:
df = pd.DataFrame({'id': [1,2,3,4,5,6],'pred': [0.8, 0.2, 0.4, 0.7, 0.8, 0.1],'classif': [1,0,0,1,1,0],'bin': [1,1,0,1,0,1]})

In [51]:
x

In [40]:
df

   bin  classif  id   pred
0    1        1   1  0.998
1    1        0   2  0.200
2    0        0   3  0.004
3    1        1   4  0.997
4    0        1   5  0.800
5    1        0   6  0.100

In [42]:
df.loc[3, ("pred")] = 10

In [43]:
df

   bin  classif  id    pred
0    1        1   1   0.998
1    1        0   2   0.200
2    0        0   3   0.004
3    1        1   4  10.000
4    0        1   5   0.800
5    1        0   6   0.100