In [1]:
# coding: utf8

## import

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
sns.set(style="white", color_codes=True)

In [4]:
## constantes
SEED_STATE = 1
KFOLDS_NUM = 10

##### Kaggle dataset description for the Expedia challenge
*checkout: [Kaggle web site](https://www.kaggle.com/c/expedia-hotel-recommendations/data)*

**train.csv**

Column | name |	Description	Data type
-------|------|----------------------
date_time |	Timestamp |	string
site_name |	ID of the Expedia point of sale (i.e. Expedia.com, Expedia.co.uk, Expedia.co.jp, ...) |	int
posa_continent |	ID of continent associated with site_name |	int
user_location_country |	The ID of the country the customer is located |	int
user_location_region |	The ID of the region the customer is located |	int
user_location_city |	The ID of the city the customer is located |	int
orig_destination_distance |	Physical distance between a hotel and a customer at the time of search. A null means the distance could not be calculated |	double
user_id |	ID of user |	int
is_mobile |	1 when a user connected from a mobile device, 0 otherwise |	tinyint
is_package |	1 if the click/booking was generated as a part of a package (i.e. combined with a flight), 0 otherwise |	int
channel |	ID of a marketing channel |	int
srch_ci |	Checkin date |	string
srch_co |	Checkout date |	string
srch_adults_cnt |	The number of adults specified in the hotel room |	int
srch_children_cnt |	The number of (extra occupancy) children specified in the hotel room |	int
srch_rm_cnt |	The number of hotel rooms specified in the search |	int
srch_destination_id |	ID of the destination where the hotel search was performed |	int
srch_destination_type_id |	Type of destination |	int
hotel_continent |	Hotel continent |	int
hotel_country |	Hotel country |	int
hotel_market |	Hotel market |	int
is_booking |	1 if a booking, 0 if a click |	tinyint
cnt	 | Numer of similar events in the context of the same user session |	bigint
hotel_cluster |	ID of a hotel cluster |	int


**destination.csv**

Column | name |	Description	Data type
-------|------|-----------
srch_destination_id |	ID of the destination where the hotel search was performed |	int
d1-d149 |	latent description of search regions |	double

## laod dataset

In [5]:
DATA_DEST = pd.read_csv("../data/destinations.csv")
DATA_TRAIN = pd.read_csv("../data/train.csv")

In [6]:
DATA_DEST.head(5)

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [7]:
print "Nombre de colonnes prÃ©sentant des N/A dans le fichier de destination: %i"%\
len(filter(lambda y: y != 0, DATA_DEST.isnull().sum()))
print "Nombre de colonnes prÃ©sentant des N/A dans le fichier de recherche: %i"%\
len(filter(lambda y: y != 0, DATA_TRAIN.isnull().sum()))

Nombre de colonnes prÃ©sentant des N/A dans le fichier de destination: 0
Nombre de colonnes prÃ©sentant des N/A dans le fichier de recherche: 3

In [8]:
print len(DATA_TRAIN["hotel_cluster"].unique())

100

In [9]:
# Contruction de vecteur utilisateurs
# classsification de "is_booking" sur tout train.csv
# -> cluster partypes -> proba booking cluster ->

In [10]:
DATA_TRAIN["srch_destination_type_id"].unique()

array([1, 6, 4, 8, 3, 7, 5, 9, 0, 2])