In [1]:
# coding: utf-8

## import

In [1]:
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
# pip install ml_metrics
#import ml_metrics as ml

In [4]:
from sklearn.cross_validation import train_test_split

In [2]:
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
#sns.set(style="white", color_codes=True)

In [ ]:
## constantes
SEED_STATE = 1
KFOLDS_NUM = 10

##### Kaggle dataset description for the Expedia challenge
*checkout: [Kaggle web site](https://www.kaggle.com/c/expedia-hotel-recommendations/data)*

**train.csv**

Column | name |	Description	Data type
-------|------|----------------------
date_time |	Timestamp |	string
site_name |	ID of the Expedia point of sale (i.e. Expedia.com, Expedia.co.uk, Expedia.co.jp, ...) |	int
posa_continent |	ID of continent associated with site_name |	int
user_location_country |	The ID of the country the customer is located |	int
user_location_region |	The ID of the region the customer is located |	int
user_location_city |	The ID of the city the customer is located |	int
orig_destination_distance |	Physical distance between a hotel and a customer at the time of search. A null means the distance could not be calculated |	double
user_id |	ID of user |	int
is_mobile |	1 when a user connected from a mobile device, 0 otherwise |	tinyint
is_package |	1 if the click/booking was generated as a part of a package (i.e. combined with a flight), 0 otherwise |	int
channel |	ID of a marketing channel |	int
srch_ci |	Checkin date |	string
srch_co |	Checkout date |	string
srch_adults_cnt |	The number of adults specified in the hotel room |	int
srch_children_cnt |	The number of (extra occupancy) children specified in the hotel room |	int
srch_rm_cnt |	The number of hotel rooms specified in the search |	int
srch_destination_id |	ID of the destination where the hotel search was performed |	int
srch_destination_type_id |	Type of destination |	int
hotel_continent |	Hotel continent |	int
hotel_country |	Hotel country |	int
hotel_market |	Hotel market |	int
is_booking |	1 if a booking, 0 if a click |	tinyint
cnt	 | Numer of similar events in the context of the same user session |	bigint
hotel_cluster |	ID of a hotel cluster |	int


**destination.csv**

Column | name |	Description	Data type
-------|------|-----------
srch_destination_id |	ID of the destination where the hotel search was performed |	int
d1-d149 |	latent description of search regions |	double

## laod dataset

In [3]:
DATA_DEST = pd.read_csv("../data/destinations.csv")
DATA_TRAIN = pd.read_csv("../data/train.csv")
DATA_TEST = pd.read_csv("../data/test.csv")

In [6]:
DATA_DEST.head(5)

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

Nombre de colonnes présentant des N/A dans le fichier de destination: 0
Nombre de colonnes présentant des N/A dans le fichier de recherche: 3

In [7]:
print len(DATA_TRAIN["hotel_cluster"].unique())

100

In [8]:
DATA_TRAIN["srch_destination_type_id"].unique()

array([1, 6, 4, 8, 3, 7, 5, 9, 0, 2])

In [9]:
DATA_TRAIN["date_time"] = pd.to_datetime(DATA_TRAIN["date_time"])
DATA_TRAIN["year"] = DATA_TRAIN["date_time"].dt.year
DATA_TRAIN["month"] = DATA_TRAIN["date_time"].dt.month

In [10]:
len(DATA_TRAIN)

37670293

In [6]:
selected = DATA_TEST["user_id"].unique()
DATA_TARGET = DATA_TRAIN[DATA_TRAIN.user_id.isin(selected)]

In [8]:
DATA_KEEPT , DATA_DROPED = train_test_split(DATA_TARGET, test_size=0.90, random_state=1)

In [9]:
print "",len(selected)
print "",len(DATA_TRAIN)
print "",len(DATA_TARGET)
print "",len(DATA_KEEPT)

 1181577
 37670293
 37214162
 3721416

In [11]:
# Contruction de vecteur utilisateurs
# classsification de "is_booking" sur tout train.csv
# -> cluster partypes -> proba booking cluster ->

In [12]:
#DATA_TRAIN.corr()["hotel_cluster"]

## Sampling

In [25]:
unique_user = DATA_TRAIN.user_id.unique()

In [15]:
len(unique_user)

1198786

In [24]:
selected_users, droped_users = train_test_split(unique_user, test_size=0.60, random_state=SEED_STATE)

NameError: name 'unique_user' is not defined

In [17]:
print "Nombre de users selectionnés : %s (ex: %s ... )"%(len(selected_users),selected_users[:3])

Nombre de users selectionnés : 11987 (ex: [477886 998582 799209] ... )

In [18]:
SELECT_TRAIN = DATA_TRAIN[DATA_TRAIN.user_id.isin(selected_users)]
print "Nombre de recherches liée aux user séléectionés : %s"%(len(SELECT_TRAIN))

Nombre de recherches liée aux user séléectionés : 377752

In [19]:
# Resampling with the same pattern, the validation set is more recent
TRAIN_SET = SELECT_TRAIN[((SELECT_TRAIN.year == 2013) | ((SELECT_TRAIN.year == 2014) & (SELECT_TRAIN.month < 8)))]
VALID_SET = SELECT_TRAIN[((SELECT_TRAIN.year == 2014) &  (SELECT_TRAIN.month >= 8))]

In [20]:
VALID_SET = VALID_SET[VALID_SET.is_booking == True]

### Features engeneering

In [53]:
def dataCleaning(df, toDrop=[]):
    
    df["date_time"] = pd.to_datetime(df["date_time"])
    df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
    df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")
    
    props = {}
    for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
        props[prop] = getattr(df["date_time"].dt, prop)
    
    features = [p for p in df.columns if p not in ["date_time", "srch_ci", "srch_co"]]
    
    for prop in features:
        props[prop] = df[prop]
    
    date_props = ["month", "day", "dayofweek", "quarter"]
    for prop in date_props:
        props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
        props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
    props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')
        
    frame = pd.DataFrame(props)
    
    #frame = frame.join(dest_pca, on="srch_destination_id", how='left', rsuffix="dest")
    #frame = frame.drop("srch_destination_iddest", axis=1)    
    
    #frame = frame.drop(toDrop, axis=1)
    orig_dest_dist_median = frame["orig_destination_distance"].median()
    frame["orig_destination_distance"].fillna(orig_dest_dist_median, inplace=True)
    
    return frame

### Kmeans

In [22]:
from sklearn.cluster import KMeans

In [54]:
training_set = dataCleaning(TRAIN_SET, ["date_time", "srch_ci", "srch_co"])
training_set.fillna(-1, inplace=True)

In [24]:
training_set.head(5)

,channel,ci_day,ci_dayofweek,ci_month,ci_quarter,cnt,co_day,co_dayofweek,co_month,co_quarter,...,srch_children_cnt,srch_destination_id,srch_destination_type_id,srch_rm_cnt,stay_span,user_id,user_location_city,user_location_country,user_location_region,year
2596,9,29,0,4,2,3,2,3,5,2,...,0,12727,5,1,72,13459,1263,66,462,2013
2597,1,25,5,5,2,5,28,1,5,2,...,0,23608,6,1,72,13459,1263,66,462,2013
2598,1,1,6,6,2,1,6,4,6,2,...,0,12261,6,1,120,13459,1263,66,462,2014
2599,1,1,6,6,2,1,6,4,6,2,...,0,12261,6,1,120,13459,1263,66,462,2014
2600,1,1,6,6,2,1,6,4,6,2,...,0,12261,6,1,120,13459,1263,66,462,2014

In [25]:
kmeans = KMeans(n_clusters=16, random_state=SEED_STATE)
kmeans.fit(training_set.drop(["user_id", "is_booking", "hotel_cluster"], axis=1),training_set["hotel_cluster"])

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=16, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=1, tol=0.0001,
    verbose=0)

In [26]:
training_set["kmeans"] = kmeans.predict(training_set.drop(["user_id", "is_booking", "hotel_cluster"], axis=1))

In [27]:
training_set[["user_id", "is_booking", "hotel_cluster", "kmeans"]].head(10)

       user_id  is_booking  hotel_cluster  kmeans
2596     13459           0             91       0
2597     13459           0              5      13
2598     13459           0             42       0
2599     13459           0             72       0
2600     13459           0             72       0
2601     13459           1             72       0
10161    55093           0             11       6
13317    70663           1             70       2
13318    70663           0             56       7
13319    70663           1             56       7

In [28]:
def buildTheTop(df):
    
    top = {}
    clusters = df["kmeans"].unique()
    for c in clusters:
        c_df = df[df["kmeans"] == c]
        top["cluster_%s"%c] = c_df.hotel_cluster.value_counts().index
    
    return pd.DataFrame( dict([ (k,pd.Series(v)) for k,v in top.iteritems() ]))

In [29]:
topHotelUser = buildTopCluster(training_set)
topHotelUser.head(7)

,cluster_0,cluster_1,cluster_10,cluster_11,cluster_12,cluster_13,cluster_14,cluster_15,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7,cluster_8,cluster_9
0,91,91,91,41,91,91,91,65,91,41,91,91,91,46,65,65
1,65,65,41,5,48,82,48,91,65,48,64,48,48,64,91,91
2,48,41,70,82,30,48,42,98,41,91,41,30,30,91,1,41
3,18,48,5,83,90,30,28,41,98,70,46,82,5,41,41,64
4,96,18,58,91,42,62,82,1,48,5,65,42,78,5,64,70
5,72,95,62,99,82,42,46,64,64,83,98,78,61,98,48,98
6,52,83,83,62,16,78,90,48,18,82,1,50,82,70,98,48

In [30]:
def expediaPredict(df, top, n=5):
    submition = "%s "*n
    df["list_hotel_cluster"] = df["kmeans"].apply(lambda y: top["cluster_%s"%y][:n].astype(int).tolist())#
    df["str_hotel_cluster"] = df["list_hotel_cluster"].apply(lambda y: submition%tuple(y))  
    return df

In [31]:
train_prediction = expediaPredict(training_set, topHotelUser)

In [32]:
train_prediction[["user_id", "is_booking", "hotel_cluster", "kmeans", "str_hotel_cluster"]].head(7)

       user_id  is_booking  hotel_cluster  kmeans str_hotel_cluster
2596     13459           0             91       0   91 65 48 18 96
2597     13459           0              5      13   91 82 48 30 62
2598     13459           0             42       0   91 65 48 18 96
2599     13459           0             72       0   91 65 48 18 96
2600     13459           0             72       0   91 65 48 18 96
2601     13459           1             72       0   91 65 48 18 96
10161    55093           0             11       6    91 48 30 5 78

In [33]:
# don't do this for the validation set or the test set
train_score = train_prediction[train_prediction["is_booking"] == 1]

In [34]:
ml.mapk([train_score["hotel_cluster"].tolist()], train_score["list_hotel_cluster"].tolist(), k=5)

1.0

### Validation

In [35]:
validation_set = dataCleaning(VALID_SET, ["date_time", "srch_ci", "srch_co"])
training_set.fillna(-1, inplace=True)

In [36]:
validation_set["kmeans"] = kmeans.predict(validation_set.drop(["user_id", "is_booking", "hotel_cluster"], axis=1))

In [37]:
validation_set[["user_id", "is_booking", "hotel_cluster", "kmeans"]].head(7)

       user_id  is_booking  hotel_cluster  kmeans
10163    55093           1             11      13
13336    70663           1             41       2
13381    70902           1             91       6
33434   132019           1             95       0
36784   142130           1             17      10
44612   164338           1             56       0
59490   204756           1             95       4

In [38]:
valid_prediction = expediaPredict(validation_set, topHotelUser)

In [39]:
valid_prediction[["user_id", "is_booking", "hotel_cluster", "kmeans", "str_hotel_cluster"]].head(20)

       user_id  is_booking  hotel_cluster  kmeans str_hotel_cluster
10163    55093           1             11      13   91 82 48 30 62
13336    70663           1             41       2   91 65 41 98 48
13381    70902           1             91       6    91 48 30 5 78
33434   132019           1             95       0   91 65 48 18 96
36784   142130           1             17      10    91 41 70 5 58
44612   164338           1             56       0   91 65 48 18 96
59490   204756           1             95       4   91 64 41 46 65
59492   204756           1             19       4   91 64 41 46 65
59495   204756           1             91       4   91 64 41 46 65
60315   208721           1             16       1   91 65 41 48 18
63022   220712           1             61      13   91 82 48 30 62
82492   332694           1             91       7    46 64 91 41 5
82494   332694           1             40       7    46 64 91 41 5
82505   332694           1             54       7    46 64 91 41 5
82513   332694           1             72       7    46 64 91 41 5
82515   332694           1             91       7    46 64 91 41 5
82519   332694           1             91       7    46 64 91 41 5
82528   332694           1             91       7    46 64 91 41 5
82534   332694           1             42       1   91 65 41 48 18
82755   333365           1              9      14   91 48 42 28 82

In [49]:
ml.mapk([valid_prediction["hotel_cluster"].tolist()], valid_prediction["list_hotel_cluster"].tolist(), k=1)

1.0

In [12]:
### Test

In [13]:
DATA_TEST = pd.read_csv("../data/test.csv")

In [18]:
DATA_TEST.head(1)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27

In [15]:
len(DATA_TEST)

2528243

In [16]:
tids = DATA_TEST["user_id"].unique()

In [17]:
len(tids)

1181577

In [19]:
SMALL_TRAIN = DATA_TRAIN[DATA_TRAIN.user_id.isin(tids)]

In [20]:
len(SMALL_TRAIN)

37214162

In [21]:
len(DATA_TRAIN)

37670293

### Dummy algo

In [251]:
# pip install ml_metrics
import ml_metrics as ml

most_common_clusters = list(TRAIN_SET.hotel_cluster.value_counts().head().index)
dummy_predictions = [most_common_clusters for i in range(VALID_SET.shape[0])]
#[[91, 48, 41, 65, 64],
# [91, 48, 41, 65, 64],
# [91, 48, 41, 65, 64],
# ... ]

dummy_target = [[l] for l in VALID_SET["hotel_cluster"]]

print "Here is the dummy error of the dummy alg : %s"%ml.mapk(dummy_target, dummy_predictions, k=5)

Here is the dummy error of the dummy alg : 0.0696456268123

### Features engeneering

In [27]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
dest_small = pca.fit_transform(DATA_DEST[["d{0}".format(i + 1) for i in range(149)]])
dest_small = pd.DataFrame(dest_small)
dest_small["srch_destination_id"] = DATA_DEST["srch_destination_id"]

In [28]:
dest_small.head(5)

          0         1         2  srch_destination_id
0  0.044268 -0.169419 -0.032522                    0
1  0.440761 -0.077405  0.091572                    1
2 -0.001033 -0.020677 -0.012108                    2
3  0.480467  0.040345  0.019320                    3
4  0.207253  0.042694  0.011744                    4

In [29]:
def calc_fast_features(df):
    df["date_time"] = pd.to_datetime(df["date_time"])
    df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
    df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")
    
    props = {}
    for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
        props[prop] = getattr(df["date_time"].dt, prop)
    
    carryover = [p for p in df.columns if p not in ["date_time", "srch_ci", "srch_co"]]
    for prop in carryover:
        props[prop] = df[prop]
    
    date_props = ["month", "day", "dayofweek", "quarter"]
    for prop in date_props:
        props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
        props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
    props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')
        
    ret = pd.DataFrame(props)
    
    ret = ret.join(dest_small, on="srch_destination_id", how='left', rsuffix="dest")
    ret = ret.drop("srch_destination_iddest", axis=1)
    return ret

#df = calc_fast_features(t1)
#df.fillna(-1, inplace=True)

In [31]:
neo_df = calc_fast_features(TRAIN_SET)
neo_df.fillna(-1, inplace=True)
neo_df.head(5)

,channel,ci_day,ci_dayofweek,ci_month,ci_quarter,cnt,co_day,co_dayofweek,co_month,co_quarter,...,srch_rm_cnt,stay_span,user_id,user_location_city,user_location_country,user_location_region,year,0,1,2
2596,9,29,0,4,2,3,2,3,5,2,...,1,72,13459,1263,66,462,2013,-0.558787,0.302728,0.043319
2597,1,25,5,5,2,5,28,1,5,2,...,1,72,13459,1263,66,462,2013,-0.339104,0.246993,0.159985
2598,1,1,6,6,2,1,6,4,6,2,...,1,120,13459,1263,66,462,2014,-0.219883,0.139836,-0.162701
2599,1,1,6,6,2,1,6,4,6,2,...,1,120,13459,1263,66,462,2014,-0.219883,0.139836,-0.162701
2600,1,1,6,6,2,1,6,4,6,2,...,1,120,13459,1263,66,462,2014,-0.219883,0.139836,-0.162701

### Tree based methods

In [34]:
predictors = [c for c in neo_df.columns if c not in ["hotel_cluster"]]
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
scores = cross_validation.cross_val_score(clf, neo_df[predictors], neo_df['hotel_cluster'], cv=3)
scores

array([ 0.06770873,  0.06540906,  0.06761409])

In [36]:
from sklearn.cross_validation import KFold
from itertools import chain

In [37]:
help(chain.from_iterable)

Help on built-in function from_iterable:

from_iterable(...)
    chain.from_iterable(iterable) --> chain object

    Alternate chain() contructor taking a single iterable argument
    that evaluates lazily.

In [ ]:
all_probs = []
unique_clusters = neo_df["hotel_cluster"].unique()
for cluster in unique_clusters:
    neo_df["target"] = 1
    neo_df["target"][neo_df["hotel_cluster"] != cluster] = 0
    predictors = [col for col in neo_df if col not in ['hotel_cluster', "target"]]
    probs = []
    cv = KFold(len(neo_df["target"]), n_folds=2)
    clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
    for i, (tr, te) in enumerate(cv):
        clf.fit(neo_df[predictors].iloc[tr], neo_df["target"].iloc[tr])
        preds = clf.predict_proba(neo_df[predictors].iloc[te])
        probs.append([p[1] for p in preds])
    full_probs = chain.from_iterable(probs)
    all_probs.append(list(full_probs))

prediction_frame = pd.DataFrame(all_probs).T
prediction_frame.columns = unique_clusters
def find_top_5(row):
    return list(row.nlargest(5).index)

preds = []
for index, row in prediction_frame.iterrows():
    preds.append(find_top_5(row))

ml.mapk([[l] for l in VALID_SET.iloc("hotel_cluster")], preds, k=5)

In [55]:
VALID_SET.iloc("hotel_cluster")

In [26]:
from sklearn.cross_validation import train_test_split

In [ ]:
set_a, set_b = train_test_split(DATA_TRAIN, test_size=0.80, random_state=SEED_STATE)

In [28]:
len(set_a)

15068117