In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
FOLDER = u'/Users/LoicMDIVAD/Documents/BIG_DATA_ISEP/data/'
FILE = u'Salaries.csv'
columns=['yearID','teamID','lgID','playerID','salary']
#EXEMPLE = u'csv/100.csv'

In [7]:
df = pd.DataFrame(pd.read_csv(FOLDER + FILE))
df.columns = pd.MultiIndex.from_tuples(zip(columns))
df.head()

   yearID teamID lgID   playerID  salary
0    1980    TOR   AL  stiebda01   55000
1    1981    NYA   AL  jacksre01  588000
2    1981    TOR   AL  stiebda01   85000
3    1982    TOR   AL  stiebda01  250000
4    1983    TOR   AL  stiebda01  450000

In [8]:
df_team = df['teamID'].unique()
df_lg = df['lgID'].unique()
df_player = df['playerID'].unique()

In [9]:
print u'Le Dataset Salary.csv présente %i team'% len(df_team)
print u'Le Dataset Salary.csv présente %i lg'% len(df_lg)
print u'Le Dataset Salary.csv présente %i player'% len(df_player)

Le Dataset Salary.csv présente 34 team
Le Dataset Salary.csv présente 2 lg
Le Dataset Salary.csv présente 4195 player

In [10]:
#df_industry.unique() # 4 In
df_team
#df_time_zone

array(['TOR', 'NYA', 'ATL', 'BAL', 'BOS', 'CAL', 'CHA', 'CHN', 'CIN',
       'CLE', 'DET', 'HOU', 'KCA', 'LAN', 'MIN', 'ML4', 'MON', 'NYN',
       'OAK', 'PHI', 'PIT', 'SDN', 'SEA', 'SFN', 'SLN', 'TEX', 'COL',
       'FLO', 'ANA', 'ARI', 'MIL', 'TBA', 'LAA', 'WAS'], dtype=object)

In [11]:
l = 0

In [12]:
for idx, col in enumerate(df_team):
    lines = len(df[df['teamID'] == col].index)
    l += lines
    print '%s lignes - - -> Equipe: %s'%(lines, col)

742 lignes - - -> Equipe: TOR
767 lignes - - -> Equipe: NYA
756 lignes - - -> Equipe: ATL
775 lignes - - -> Equipe: BAL
762 lignes - - -> Equipe: BOS
368 lignes - - -> Equipe: CAL
732 lignes - - -> Equipe: CHA
744 lignes - - -> Equipe: CHN
763 lignes - - -> Equipe: CIN
781 lignes - - -> Equipe: CLE
737 lignes - - -> Equipe: DET
728 lignes - - -> Equipe: HOU
766 lignes - - -> Equipe: KCA
769 lignes - - -> Equipe: LAN
699 lignes - - -> Equipe: MIN
381 lignes - - -> Equipe: ML4
577 lignes - - -> Equipe: MON
751 lignes - - -> Equipe: NYN
766 lignes - - -> Equipe: OAK
775 lignes - - -> Equipe: PHI
766 lignes - - -> Equipe: PIT
749 lignes - - -> Equipe: SDN
735 lignes - - -> Equipe: SEA
735 lignes - - -> Equipe: SFN
775 lignes - - -> Equipe: SLN
747 lignes - - -> Equipe: TEX
536 lignes - - -> Equipe: COL
563 lignes - - -> Equipe: FLO
247 lignes - - -> Equipe: ANA
375 lignes - - -> Equipe: ARI
371 lignes - - -> Equipe: MIL
379 lignes - - -> Equipe: TBA
170 lignes - - -> Equipe: LAA
176 lignes - - -> Equipe: WAS

In [13]:
l

21463