In [1]:
# coding: utf8

# Import

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Configuration

In [5]:
WORKDIR = os.getcwd()
DATASTORE = WORKDIR + u'/data/csv/'
EXEMPLE = u'100.csv'
DATAFRAMES = []
print u'The local folder path : ',WORKDIR 
print u'The local data folder : ',DATASTORE
print u'Number of files found : ', len(os.listdir(DATASTORE))

The local folder path :  /home/lmdadm/scripts/notebook/II.3503_BIGDATA
The local data folder :  /home/lmdadm/scripts/notebook/II.3503_BIGDATA/data/csv/
Number of files found :  100

In [6]:
54433 - 52417

2016

In [7]:
### Exemple de traitement d'un fichier.
###### Chaque ficher sera manipulé de ma même façon
###### et le dataframe résultant sera ajouté à un liste

In [8]:
exdf = pd.read_csv(DATASTORE + EXEMPLE, skiprows=52607, nrows=2016)
# on réalise l'étude sur une semaine => 2016 lignes
exdf.columns = [u'timestamp',u'dttm_utc',u'value',u'estimated',u'anomaly']
exdf = exdf.fillna(value='')
exdf.head()

    timestamp             dttm_utc   value  estimated anomaly
0  1341158400  2012-07-01 16:00:00  1.8383          0
1  1341158700  2012-07-01 16:05:00  1.8383          0
2  1341159000  2012-07-01 16:10:00  2.1009          0
3  1341159300  2012-07-01 16:15:00  1.8383          0
4  1341159600  2012-07-01 16:20:00  1.8383          0

In [9]:
def loadCsv(filename):
    df = pd.read_csv(DATASTORE + filename, skiprows=52607, nrows=2016)
    df.columns = [u'timestamp',u'dttm_utc',u'value',u'estimated',u'anomaly']
    df = df.fillna(value='')
    return df

In [10]:
try: 
    assert len(DATAFRAMES) == 0
    for f in os.listdir(DATASTORE):
        DATAFRAMES.append(loadCsv(f))
    print u'Nombre d élements :',len(DATAFRAMES)
except AssertionError as ae:
    print u'AssertionError: Le df n\'est pas vide.' 
    print u'Nombre d élements :',len(DATAFRAMES)

Nombre d élements : 100

# Test sur les ordres de grandeurs

In [12]:
DATAFRAMES[0][u'dttm_utc'][850]
# 850 -> Mercredi 4 Juillet 2012 à 15:50

'2012-07-04 14:50:00'

In [13]:
# Somme de pour tous les sites sur une datetime
mapped = map(lambda y: y[u'value'][850], DATAFRAMES)
reduced = reduce(lambda x, y: x + y, mapped)
reduced

4315.1340999999984