In [114]:
lnames =["MARTIN",
"BERNARD",
"ROUX",
"THOMAS",
"PETIT",
"DURAND",
"MICHEL",
"ROBERT",
"RICHARD",
"SIMON",
"MOREAU",
"DUBOIS",
"BLANC",
"LAURENT",
"GIRARD",
"BERTRAND",
"GARNIER",
"DAVID",	
"MOREL",	
"GUERIN",	
"FOURNIER",
"ROY",
"ROUSSEAU",
"ANDRE",	
"GAUTIER",	
"BONNET",	
"LAMBERT",	
"HENRY",	
"FAURE",	
"MERCIER",	
"VINCENT",	
"CHEVALIER",
"LEROY",	
"MARCHAND",
"PERRIN",	
"MORIN",	
"MASSON",	
"GIRAUD",	
"DUPONT",	
"ROBIN",	
"NICOLAS",	
"BRUN",	
"MATHIEU",	
"CLEMENT",	
"LEFEBVRE",
"FABRE",	
"BARBIER",	
"FRANCOI",
"ROUSSEL",	
"ARNAUD",	
"GERARD",	
"AUBERT",	
"DUVAL",	
"LEGRAND",	
"BLANCHARD",
"BRUNET",	
"LEFEVRE",	
"DENIS",	
"BRETON",	
"PIERRE",	
"ROCHE",	
"PARIS",	
"BOYER",	
"COLIN",	
"FONTAIN",
"JEAN",	
"BOURGEOIT",
"GAILLAR",
"NOEL",	
"DUMAS",
"PICARD",
"BRIAND",
"LUCAS",
"ROLLAND",
"JOLY",
"LECLERC",
"RENARD",
"ROGER",
"DUFOUR",
"OLIVIER",
"GAUTHIE",
"MARIE",
"GUILLOU",	
"GUILLAUM",
"HERVE",	
"LEROUX",	
"BAILLY",	
"DUMONT",	
"PHILIPP",
"BOUCHER",	
"RENAUD",	
"DESCHAMPS",
"HAMON",	
"REY",	
"ROYER",	
"MEUNIER",	
"CHARPENTI",
"BARON",	
"HUET",	
"RIVIERE",	
"CARRE",	
"BERGER",	
"PREVOST",	
"AUBRY",
"VIDAL",
"LEMOINE",
"LEMAIRE",
"LACROIX",
"GUILLOT",
"GRAND",
"ADAM",
"GALL",
"GUYOT",
"PERROT",
"GOFF",
"FLEURY",
"DUPUY",
"DANIEL",
"JULIEN",
"OLLIVIER",
"HUBERT",
"BENOIT",
"BESSON",
"COLLET",
"MOULIN",
"RENAULT",
"COLLIN",
"JACQUET",
"POIRIER",
"COUSIN",
"BOUVIER",
"CARON",
"GILLET",
"HUMBERT",
"CHARLES",
"REYNAUD",
"DUPUIS",
"LEGER",	
"MULLER",	
"MORVAN",
"PICHON",	
"CHAUVIN",	
"LEBRUN",	
"MALLET",	
"REMY",	
"PAUL",	
"BARRE",	
"BERTIN",	
"PERRET",	
"BUISSON",	
"BIGOT",	
"MENARD",	
"MEYER",	
"MARECHAL",
"JOURDAN",	
"GILBERT",	
"ANTOINE",	
"REGNIER",	
"COSTE",	
"BOURBON",	
"GEORGE",	
"BESNARD",	
"RIOU",	
"LABBE",	
"THIERS",	
"FLOCH",	
"IMBERT",	
"VALLEE"]

In [105]:
import os
import sys
import pandas as pd
import random

In [115]:
fileList = "/Users/LoicMDIVAD/Desktop/demo/CURRENTGROUPLIST.csv"
fakeFileList = "/Users/LoicMDIVAD/Desktop/demo/FAKEGROUPLIST.csv"
PURPLE = ["Zovena", "Delphine", "Narisely", "Loïc", "Shreya", "Matthieu"]

In [107]:
fnames = ["Julien", "Justin", "Louis", "Maxime", "Michaël", "Clara", "Coralie", "Daphnée",
          "Laurence", "Laurie", "Léa", "Léanne", "Maélie", "Maéva", "Marianne", "Brandone",
         "Alban", "Alexandra","Céline"]

In [108]:
df1 = pd.read_csv(fileList, sep=";")
df2 = pd.read_csv(fakeFileList, sep=";")
df3 = pd.read_csv(fakeFileList, sep=";")

In [109]:
#help(pd.read_csv)

In [110]:
no_col = filter(lambda y: y.find("Unnamed") != -1, df1.columns.tolist())

In [111]:
df1 = df1.drop(no_col, axis=1)
df2 = df2.drop(no_col, axis=1)
df3 = df3.drop(no_col, axis=1)

In [112]:
for idx, student in df1.iterrows():
    if student["prenom"] in PURPLE:
        continue
    elif student["prenom"] == df2.iloc[idx]["prenom"]:
        j = random.randint(0, len(fnames) -1)
        df3.iloc[idx, 1] = fnames[j]
        print(str(j)+ "  :  " +df2.iloc[idx]["prenom"]+ "  --->  " + fnames[j])

15  :  Alexandra  --->  Brandone
15  :  Amandine  --->  Brandone
15  :  Constance  --->  Brandone
14  :  Jeanne  --->  Marianne
3  :  Maxime  --->  Maxime
0  :  Fiona  --->  Julien
17  :  Alban  --->  Alexandra
12  :  Victor  --->  Maélie
5  :  Brandone  --->  Clara
17  :  Nathan  --->  Alexandra
9  :  Yves  --->  Laurie
4  :  Mikael  --->  Michaël
1  :  Charles  --->  Justin
7  :  Nicolas  --->  Daphnée
5  :  Mathieu  --->  Clara
9  :  David  --->  Laurie
14  :  Aurélie  --->  Marianne
12  :  Céline  --->  Maélie
14  :  Maxime  --->  Marianne
18  :  César  --->  Céline
18  :  Chloe  --->  Céline
5  :  Charles  --->  Clara
15  :  David  --->  Brandone
12  :  Rudolph  --->  Maélie

In [116]:
for idx, student in df1.iterrows():
    if student["prenom"] in PURPLE:
        continue
    else:
        j = random.randint(0, len(lnames) -1)
        df3.iloc[idx, 0] = lnames[j]
        print(str(j)+ "  :  " +df2.iloc[idx]["nom"]+ "  --->  " + lnames[j])

137  :  DUPONT-NIVET  --->  LEGER
15  :  EDME  --->  BERTRAND
95  :  TANG  --->  MEUNIER
142  :  WAN  --->  LEBRUN
58  :  LI  --->  BRETON
87  :  VECCHIO  --->  DUMONT
103  :  FELLAHI  --->  AUBRY
162  :  DU   --->  RIOU
149  :  HE  --->  BUISSON
122  :  ZHANG  --->  BESSON
80  :  JEANNENEY  --->  GAUTHIE
63  :  COMBES  --->  COLIN
167  :  DEMONTGRAND  --->  VALLEE
9  :  KAPOOR  --->  SIMON
37  :  JIANG  --->  GIRAUD
113  :  ZHANG  --->  PERROT
66  :  FRELOT  --->  BOURGEOIT
23  :  MAZARD  --->  ANDRE
109  :  LAURETTE  --->  GRAND
164  :  JIANG  --->  THIERS
84  :  LI  --->  HERVE
109  :  TAUCH  --->  GRAND
11  :  OUSSDID  --->  DUBOIS
3  :  ROUBEIX  --->  THOMAS
48  :  COMAZZI  --->  ROUSSEL
41  :  DE BUYER  --->  BRUN
105  :  HEISSEL  --->  LEMOINE
69  :  MANGANNEAU  --->  DUMAS
156  :  THEVENET  --->  ANTOINE
72  :  GAUCH  --->  LUCAS
155  :  FORGEON  --->  GILBERT
152  :  DELETTRE  --->  MEYER
151  :  SAMPIETRO  --->  MENARD
92  :  PERRIN  --->  HAMON
107  :  SOUMBOU  --->  LACROIX
18  :  MATHIEU  --->  MOREL
68  :  PESTEL  --->  NOEL
54  :  TURBÉ  --->  BLANCHARD
90  :  BERAIL  --->  RENAUD
112  :  BENTO  --->  GUYOT
44  :  RUGGIERO  --->  LEFEBVRE
104  :  BOURGET  --->  VIDAL
126  :  SARIOGLU  --->  COLLIN
62  :  CASANOVA  --->  BOYER
110  :  LECHELON  --->  ADAM
73  :  FOHRER  --->  ROLLAND
94  :  FOUILLEN  --->  ROYER
150  :  ALEGOËT  --->  BIGOT
124  :  ROUSSEL  --->  MOULIN
164  :  DUPONT  --->  THIERS
69  :  ELMAYMOUNY  --->  DUMAS
10  :  HODZIC  --->  MOREAU
83  :  KALENGA   --->  GUILLAUM
108  :  DEMBEDYDY  --->  GUILLOT
7  :  CASTELLON  --->  ROBERT
47  :  AGUILAR  --->  FRANCOI
50  :  MARTINS  --->  GERARD
31  :  BRAMI  --->  CHEVALIER
128  :  TALEB  --->  POIRIER
86  :  EDAHMANI  --->  BAILLY
94  :  KINDA  --->  ROYER
115  :  MASSOUM  --->  FLEURY
124  :  DESCHAMPS  --->  MOULIN
76  :  TOMASINA  --->  RENARD
36  :  QUELENNEC  --->  MASSON
158  :  GAYRAL  --->  COSTE
72  :  GRANIER  --->  LUCAS
17  :  FAIZ  --->  DAVID
166  :  BITEGHE  --->  IMBERT
111  :  MOMBO  --->  GALL
74  :  MARTINET  --->  JOLY
66  :  MULSANT  --->  BOURGEOIT
30  :  PHILIPPE  --->  VINCENT
22  :  DAUGY  --->  ROUSSEAU
47  :  MACIA  --->  FRANCOI
121  :  HAMDANE  --->  BENOIT
118  :  DELEVOYE  --->  JULIEN
132  :  SPORTES  --->  GILLET
78  :  MITTAL  --->  DUFOUR
6  :  FERTINI  --->  MICHEL
24  :  LEMOY  --->  GAUTIER
14  :  MARCO  --->  GIRARD
153  :  ALINDRET  --->  MARECHAL
42  :  BONTEMPS  --->  MATHIEU
82  :  SIGAL  --->  GUILLOU
113  :  BESSENGA  --->  PERROT
43  :  MKHININI  --->  CLEMENT
98  :  BRAJER  --->  HUET
30  :  KOCH  --->  VINCENT
87  :  HOUNNITE  --->  DUMONT
161  :  ALITONOU  --->  BESNARD
21  :  EBANG  --->  ROY

In [117]:
df3

            nom     prenom    id groupe
0         LEGER  Alexandre  7174    G5A
1      BERTRAND       Emma  7176    G5A
2    KANESWARAN     Zovena  8358    G5A
3       MEUNIER    Gabriel  7980    G5A
4        LEBRUN       Hugo  7981    G5A
5        BRETON      Alice  7977    G5A
6   CHANTHAVONG   Delphine  8350    G5B
7        DUMONT    Anthony  7270    G5B
8         AUBRY      Dylan  8412    G5B
9          RIOU    Justine  7974    G5B
10      BUISSON    Camille  7975    G5B
11       BESSON     Alexia  7983    G5B
12      GAUTHIE     Nathan  7184    G5C
13        COLIN     Amélie  8408    G5C
14       VALLEE      Tommy  8342    G5C
15        SIMON     Thomas  8032    G5C
16       GIRAUD     Samuel  8001    G5C
17       PERROT    Rosalie  7982    G5C
18    BOURGEOIT     Olivia  7241    G5D
19        ANDRE   Philippe  7193    G5D
20        GRAND  Guillaume  7247    G5D
21       THIERS      Simon  7976    G5D
22        HERVE     Alicia  7978    G5D
23        GRAND      Malik  7209    G6A
24       DUBOIS     Audrey  8398    G6A
25       THOMAS      Jacob  7264    G6A
26      ROUSSEL     Elliot  7164    G6A
27         BRUN     Alexis  7298    G6A
28      LEMOINE      Mégan  8407    G6A
29        DUMAS     Jérémy  8329    G6A
..          ...        ...   ...    ...
69        COSTE    Daphnée  8340    G7D
70        LUCAS      Clara  8380    G7D
71        DAVID    Tristan  7177    G7D
72       IMBERT     Laurie  8331    G7D
73         GALL       Jack  8324    G7D
74         JOLY   Marianne  7251    G8A
75    BOURGEOIT    Vincent  6830    G8A
76      VINCENT     Romain  7201    G8A
77     ROUSSEAU     Romain  7716    G8A
78      FRANCOI     Maélie  7187    G8A
79       BENOIT      Lucas  7300    G8A
80       JULIEN    Vincent  7169    G8B
81        DIVAD       Loïc  8333    G8B
82       GILLET      Lucas  8355    G8B
83    PUIBARAUD   Matthieu  7204    G8B
84       DUFOUR     Shreya  8581    G8B
85       MICHEL    Marilou  8387    G8B
86      GAUTIER      Louis  7273    G8C
87       GIRARD   Marianne  8388    G8C
88     MARECHAL     Céline  7331    G8C
89      MATHIEU       Jade  6893    G8C
90      GUILLOU     Céline  8409    G8C
91        AUDIN   Matthieu  7149    G8C
92       PERROT   Jonathan  8327    G8C
93      CLEMENT    Daphnée  8339    G8D
94         HUET      Clara  7339    G8D
95      VINCENT   Brandone  7244    G8D
96       DUMONT      Lucas  7275    G8D
97      BESNARD      Félix  8335    G8D
98          ROY     Maélie  8403    G8D

[99 rows x 4 columns]

In [121]:
df3.to_csv(path_or_buf="/Users/LoicMDIVAD/Desktop/VERYFAKEGROUPLIST.csv", sep=";", header=False, index=False)